/* some style */

html, #app {
    background : #744994;
}

label {
    color: #fff;
    font-size: 2.0ex;
}

h1
{font-family : courier, sans;
 color : #0c0eee;
}

h1.db-status {
    color : #fff;
}

div.jumbotron {
    color: #2020c5;
    margin-top: 5ex;
}

div.filtered-list {
    font-size: 3ex;
    font-family: Helvetica;
}

div#hello
{
    margin: 2em;
    padding: 2em;
    background : #ddd;
}

h3.inline
{
    display: inline;
    padding-right: 1em;
}

span.text-regular {
    color: #fff;
}

span.text-match {
    color: #f0ad4e;
}

h1.title, div.filtered-list  {
 padding-top: 2ex;
 padding-bottom: 2ex;
}
